@import "tailwindcss";
@import "@fontsource/poppins";

* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}



.floating-img {
  animation: floatEffect 6s ease-in-out infinite;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  border-radius: 20px;
}
